# By Pufan HE

bin/
lib/
tmp/
temp/
release/
debug/
Release/
Debug/
build/
build*/
*.user
*.swp
*~
*.dll
*.so
*.lib
*.a
*.o
*.obj
*.exe
*.exp
*.gch
*.bak
*.zip
*.sdf
*.bak/
*.pyc
*.jpg
*.aux
*.log
data/image-normalized/*
*.bmp
*.jpeg
data/KMeans/*
data/KMeans_visualize/*.png
KMean*.txt
ans.txt
*.html
